In [27]:
''' Topic :List
Exercise
Q1. Create a list of 5 random numbers and print the list.
Q2. Insert 3 new values to the list and print the updated list.
Q3. Try to use a for loop to print each element in the list  '''

##  Q1
l=[12,45,78,96,23]
print(l)

## Q2
l.extend([20,35,47])
print("Updated list is",l)

## Q3
for i in l:
    print(i)

[12, 45, 78, 96, 23]
Updated list is [12, 45, 78, 96, 23, 20, 35, 47]
12
45
78
96
23
20
35
47

In [16]:
''' 
Topic: Dictionary
Exercise 
Q1. Create a dictionary with keys 'name', 'age', and 'address' and values 'John', 25, and 'New York' respectively.
Q2. Add a new key-value pair to the dictionary created in Q1 with key 'phone' and value '1234567890'.'''

## Q1  
d={"name":"John","age":25,"address":"New York"}
print(d)

## Q2
d.update({"Phone":1234567890})
print(d)

{'name': 'John', 'age': 25, 'address': 'New York'}
{'name': 'John', 'age': 25, 'address': 'New York', 'Phone': 1234567890}

In [21]:
''' Topic: Set
Exercise  
Q1.Create a set with values 1, 2, 3, 4, and 5.
Q2. Add the value 6 to the set created in Q1.
Q3. Remove the value 3 from the set created in Q1. '''

## Q1
s={1,2,3,4,5}
print(s)
## Q2
s.add(6)
print(s)
## Q3
s.remove(3)
print(s)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6}
{1, 2, 4, 5, 6}

In [26]:
''' Topic:Tuple
Exercise 
Q1. Create a tuple with values 1, 2, 3, and 4
Q2. Print the length of the tuple created in Q1. '''
## Q1
t=1,2,3,4
print(t)

## Q2
print("Length of tuple is ",len(t))

(1, 2, 3, 4)
Length of tuple is  4